<div class="container">

  <h2>API</h2>
  <h4>https://catwitter-api.herokuapp.com/api</h4>
  <li>✓ <span>POST</span> /signup</li>
  <li>✓ <span>POST</span> /signin</li>
  <hr>
  <li>✓ <span>GET</span> /admin/tweets </li>
  <li>✓ <span>GET</span> /admin/users </li>
  <li>✓ <span>DELETE</span> /admin/tweets/:id </li>
  <hr>
  <li>✓ <span>GET</span> /tweets</li>
  <li>✓ <span>POST</span> /tweets</li>
  <hr>
  <li>✓ <span>GET</span> /tweets/:id</li>
  <li>✓ <span>POST</span> /tweets/:id/like</li>
  <li>✓ <span>POST</span> /tweets/:id/unlike</li>
  <li>✓ <span>POST</span> /tweets/:id/replies</li>
  <hr>
  <li>✓ <span>GET</span> /users/:id/tweets</li>
  <li>✓ <span>GET</span> /users/:id/replies</li>
  <li>✓ <span>GET</span> /users/:id/likes</li>
  <li>✓ <span>GET</span> /users/:id/followings</li>
  <li>✓ <span>GET</span> /users/:id/followers</li>
  <hr>
  <li>✓ <span>POST</span> /followships</li>
  <li>✓ <span>DELETE</span> /followships/:id</li>














</div>